.status-green {
  color: #abc270;
  font-weight: bold;
}

.status-red {
  color: #d9534f;
  font-weight: bold;
}

ion-card {
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
}

ion-card:hover {
  transform: translateY(-2px);
}
