.page-title {
  padding: 1rem;
}

.page-title h1 {
  color: #473c33;
  font-weight: 700;
}

.green-card {
  --background: #abc270;
}

.yellow-card {
  --background: #fec868;
}

.orange-card {
  --background: #fda769;
}

ion-card {
  color: #473c33;
  border-radius: 16px;
}

ion-card-content {
  font-size: 2rem;
  font-weight: bold;
}
